/* .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(99, 99, 99);
    width: 100%;
}

.title {
    padding-left: 55px;
    padding-right: 15px;
}

.title h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.menu {
    display: flex;
    align-items: center;
    justify-items: center;
}

.menu li {
    list-style: none;
    padding-left: 15px;
    padding-right: 15px;
}

.user {
    display: flex;
    align-items: center;
    justify-items: center;
}

.usuario {
    padding: 0 20px;
}

.session {
    padding: alto ancho 
    padding: 5px 6px;
} */